<html>
<head>
	<title>
		My First Blog
	</title>
	{% block headCss %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css')}}" type="text/css">
	{% endblock %}
</head>
	<body class="body">
		<h2>Welcome to your blog</h2>
		<form class="form-border" action="/add_post" method="POST" id="add-form">
			<h4>New Post</h4>
			<div class="title wrapper">
				<input id="input-title" type="text" name="title" placeholder="Title"></input>
			</div>

			<div class="title wrapper">
				<textarea id="input-post" name="post"></textarea>
			</div>
			<div  class="description wrapper">
				<input type="submit" id="input-submit" value="POST"></input>
			</div>
		</form>

		<form class="form-border hidden" method="PUT" id="edit-form">
			<h4>Edit Entry</h4>
			<input type="hidden" name="id" id="edit-id"/>
			<div class="title wrapper">
				<input id="edit-title" type="text" name="title" placeholder="Title"></input>
			</div>

			<div class="title wrapper">
				<textarea id="edit-post" name="post"></textarea>
			</div>
			<div  class="description wrapper">
				<input type="submit" id="edit-submit" value="POST"></input>
			</div>
		</form>

		{% for post in posts %}
			<div class="blog-border">
				<div class="title">
					<div>{{ post.title }}</div>
				</div>
				<div class="post">
					<div> {{ post.post }} </div>
				</div>
				<div>
					<button onclick="editPostForm('{{ post._id }}')">Edit</button>
					<button onclick="deletePost('{{ post._id }}')">Delete</button>
				</div>
		  	</div>
		{% endfor %}

		<script>
			var editPostForm = function(id){
				var url = "/posts/" + id;
				var request = new XMLHttpRequest();
				request.onreadystatechange = function(){
					if (request.readyState === XMLHttpRequest.DONE) {
						if (request.status === 200) {
						var response = JSON.parse(request.responseText);
						console.log("RESPONSE FROM AJAX", response);
						document.getElementById("add-form").classList.add("hidden");
						document.getElementById("edit-form").classList.remove("hidden");
						document.getElementById("edit-title").value = response.title;
						document.getElementById("edit-post").value = response.post;
						document.getElementById("edit-id").value = response._id;
						} else {
						alert('There was a problem with the request.');
						}
					}
				}
				request.open("GET", url, true);
				request.send();
			}

			document.getElementById("edit-form").onsubmit = function(event){
				event.preventDefault();
				var editform = document.getElementById("edit-form");
				console.log("editform", editform);

				var body = {
					"title" : editform[1].value,
					"post" : editform[2].value
				}

				var url = "/posts/" + editform[0].value;
				var request = new XMLHttpRequest();
				request.onreadystatechange = function(){
					if (request.readyState === XMLHttpRequest.DONE) {
						if (request.status === 200) {
							var response = JSON.parse(request.responseText)[0];
							console.log("RESPONSE FROM AJAX", response);
							alert("Entry successfuly modified.");
							location.reload();
						} else {
							alert('There was a problem with the request.');
						}
					}
				}
				request.open("PUT", url, true);
				request.setRequestHeader("Content-Type", "application/json");
				request.send(JSON.stringify(body));

			}

			var deletePost = function(id){
				var url = "/posts/" + id;
				var request = new XMLHttpRequest();
				request.onreadystatechange = function(){
					if (request.readyState === XMLHttpRequest.DONE) {
						if (request.status === 200) {
							var response = JSON.parse(request.responseText);
							alert("Post successfully removed.");
							location.reload();
						} else {
							alert('There was a problem with the request.');
						}
					}
				}
				request.open("DELETE", url, true);
				request.send();
			}

			document.addEventListener("DOMContentLoaded", function(event) {
				
			});
		</script>
	
	</body>

</html>





